<div class="">
  <div *ngIf="authService.user$ | async as profile" class="flex flex-row justify-content-start mx-8">
    <span>
      <div class="text-5xl font-medium mt-5 ml-4">{{welcomeText}} {{profile.nickname?.charAt(0)?.toUpperCase()}}{{profile.nickname?.slice(1)}}</div>
      <div class="text-2xl ml-4 mb-3">What would you like to do today?</div>
    </span>
  </div>
  <div class="flex flex-row justify-content-center">
    <app-latest-recipes [inputRecipes]="allRecipes" class=""></app-latest-recipes>
  </div>
</div>
