.card {
  background-color: white;
  border-radius: 0.5rem;
  border: 0px solid #ccc;
  box-sizing: border-box;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}

.title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 576px) {
  .card {
      max-width: 767px;
    }
}

@media (min-width: 768px) {
  .card {
      max-width: 991px;
    }
}

@media (min-width: 992px) {
  .card {
      max-width: 1200px;
    }
}
