.surface-ground {
  min-height: 100%;
}

.recipeDetail {
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.headerTitle {
  color: white;
  position: absolute;
  top: 50%;
  left: 2%;
}

.name {
  text-align: left;
}

.amount {
  text-align: right;
}
