<div class="background">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-2 splash">
        <div class="text-center mb-5">
            <img src="assets/images/logos/cb_large.png" alt="Logo Image" height="130" class="mb-3 logo">
            <div class="text-900 text-3xl font-medium mb-3">Welcome to the cookbook</div>
        </div>
        <div>
            <button pButton label="Sign In" icon="pi pi-user" class="w-full" (click)="login()">
            </button>
        </div>
    </div>
    <div class="attribute">
        Background by <a
            href="https://unsplash.com/@toddquackenbush?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Todd
            Quackenbush</a> on <a
            href="https://unsplash.com">Unsplash</a>
    </div>
</div>
